<h1>Not Allowed</h1>

<p>We're sorry, but you do not have access through <%= @provider_name.capitalize %> to submit apps. If you'd like to request special access, please contact <a href="mailto:<%= @contact[:email] %>"><%= @contact[:name] %></a>.</p>
