nav.collection {
  margin-top: 20px;
  header {
    padding: 0 5px 10px;
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      margin: 0;
      padding: 0;
      a {
        color: #444;
        &:hover {
          color: #666;
        }
      }
    }
    .see-more {
      font-size: 12px;
      float: right;
      margin-top: -16px;
      color: #666;
      &:hover {
        color: #888;
      }
    }
    a {
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
  }
  figure, ul, h4, p {
    margin: 0;
    padding: 0;
    position: relative;
  }
  figure {
    margin: 5px;
    border: 1px solid #ddd;
    padding: 12px;
    min-height: 70px;
  }
  img, .letter-icon {
    vertical-align: top;
    position: absolute;
    max-width: 48px;
    max-height: 48px;
  }
  .letter-icon {
    text-align: center;
    width: 48px;
    max-height: 48px;
  }
  figcaption {
    margin-left: 62px;
  }
  a {
    text-decoration: none;
    color: #444;
  }
  h4 {
    font-size: 14px;
    padding-bottom: 2px;
  }
  p {
    font-size: 11px;
    color: #777;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
  }
  .official {
    figure:after {
      content: 'Official';
      position: absolute;
      background-color: darken($color-primary, 8%);
      color: $color-primary-foreground;
      border: 1px solid darken($color-primary, 14%);
      padding: 2px 5px;
      font-size: 11px;
      right: -4px;
      top: -4px;
    }
  }
  @media (min-width: 600px) {
    li {
      display: inline-block;
    }
  }
  @media (min-width: 960px) and (max-width: 1299px) {
    li {
      width: 33.333333333333%;
    }
  }
  @media (min-width: 600px) and (max-width: 959px) {
    li {
      width: 50%;
    }
  }
  @media (min-width: 1300px) {
    li {
      width: 25%;
    }
  }
  &.right-space {
    @media (min-width: 960px) and (max-width: 1299px) {
      li {
        width: 33%;
      }
    }
    @media (min-width: 600px) and (max-width: 959px) {
      li {
        width: 49%;
      }
    }
    @media (min-width: 1300px) {
      li {
        width: 24%;
      }
    }
  }
  &.limited {
    @media (max-width: 599px) {
      li {
        &:nth-child(6), &:nth-child(6) ~ * {
          display: none;
        }
      }
    }
    @media (min-width: 600px) and (max-width: 959px) {
      li {
        &:nth-child(9) {
          display: none;
        }
      }
    }
    @media (min-width: 1300px) {
      li {
        &:nth-child(9) {
          display: none;
        }
      }
    }
  }
}
