.form-field {

  @extend .clearfix;

  label, input, select, textarea {
    display: block;
  }

  label {
    margin-bottom: 2px;
  }

  input, select, textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 7px 9px;
    border: 1px solid #bbb;
  }

  input[type="checkbox"], input[type="radio"] {
    width: auto;
  }
}

.infobar-radios {

  img {
    max-height: 52px;
    padding: 2px 2px 0px 2px;
    vertical-align: bottom;
  }

  table {
    background : #EEEEEE;
    display: table;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td {
    border: 1px solid #999;
    padding: 15px;
  }

  td.in_progress {
    padding-bottom: 21px;
  }
}

.form-fields {
  margin-bottom: 12px;
}

fieldset > legend {
  color: #777;
}

label, legend {
  font-weight: bold;
}

label, .form-fields > legend {
  color: $color-primary;
}

textarea {
  height: 80px;
  &.long {
    height: 200px;
  }
}

input[type="checkbox"] ~ label {
  color: #333;
  font-weight: normal;
}

fieldset[role="tab"] {
  border: none;
  margin: 0;
  > legend {
    color: #333;
    font-size: 18px;
    margin-bottom: 8px;
  }
}

fieldset, .fields-table {
  margin-bottom: 16px;
}

.fields-table {
  table {
    width: 100%;
    text-align: center;
  }
  .row-heading {
    text-align: left;
  }
  th {
    font-weight: bold;
  }
  th, .row-heading {
    color: $color-primary;
  }
  td, th {
    padding: 8px 4px;
  }
}

@media (max-width: 599px) {

  .infobar-radios {
    width: 70%;
    margin: 20px auto;

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    td {
      /* Behave like a "row" */
      border-bottom: 1px solid #666666;
      text-align: center;
      vertical-align: middle;
      padding: 10px;
      font-weight: bold;
    }

    td:before {
      display: block;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}
