# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 64563a9cddafd0b18b18b4ae36fdd96fbdf077f9058b87f765c32a3c5b3e3ba191ee2039b4239e52c0876283bcf024e45f773927e4d243517db0bb6bf9132742

test:
  secret_key_base: eba58ad857bf58fd9fa4579ae506bf48b531a7fd9c813e43aaac51326c9e4b4940cc79be7777cd7b717ce586eb560646335bad93e923981da653fb3233efa187

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
