<h1>Search Results</h1>

<nav class="collection right-space">
  <ul class="clearfix list-unstyled">
    <% @apps.where(enabled: true).each do |app| %>
      <li <% if app.official %>class="official"<% end %>>
        <a href="<%= url_for app %>">
          <figure>
            <%= app.icon_tag %>
            <figcaption>
              <h4><%= app.title %></h4>
              <p><%= app.short_description %></p>
            </figcaption>
          </figure>
        </a>
      </li>
    <% end %>
  </ul>
</nav>