<h1>Submit App</h1>

<p> Submit your App in minutes with 3 easy steps! If you have any questions or need
	help don't hesitate to contact the UCLA App Catalog team at <a href="mailto:apps@oit.ucla.edu">apps@oit.ucla.edu.</a></p>

<br/>

<%= render 'form' %>
