$color-primary: #30BDF4 !default;
$color-primary-foreground: #fff !default;

$color-secondary: #1e4b87 !default;
$color-secondary-foreground: #fff !default;

$color-tertiary: #555 !default;
$color-tertiary-foreground: #fff !default;

$color-warning: #bb4400 !default;
$color-warning-foreground: #fff !default;

$color-danger: #bb0000 !default;
$color-danger-foreground: #fff !default;

$color-success: #282 !default;
$color-success-foreground: #fff !default;

$pale-yellow: #fff9ab; //used by environment banner