.letter-icon {
  span {
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin-top: 4px;
    height: 41px;
    width: 41px;
    line-height: 41px;
    border-radius: 6px;
    color: rgba(0,0,0,0.5);
    background-color: #ccc;
  }
}