.privacy-nutrition-label {
  margin-top: 5px;
  font-size: 12px;
  .yes {
    background-color: #FFFFCC;
  }
  .optOut {
    background-color: #EFFFFF
  }
  .optIn {
    background-color: #EFFFFF
  }
  .no {
    background-color: #CCFFFF;
  }
  td, th {
    padding: 6px;
    text-align: center;
    border: 1px solid #000;
  }
  th {
    background-color: #EEEEEE;
  }
  td:first-child, th:first-child {
    text-align: left;
  }
}